about-time==3.1.1
absl-py==1.2.0
alive-progress==2.4.1
antlr4-python3-runtime==4.9.3
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.9.3
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
basketball-reference-web-scraper==4.12.1
beautifulsoup4==4.11.1
bleach==5.0.1
Box2D==2.3.2
bsuite==0.3.5
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
cmakelang==0.6.13
contourpy==1.0.5
cssselect2==0.7.0
cycler==0.11.0
Cython==0.29.32
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
dm-control==1.0.7
dm-env==1.5
dm-tree==0.1.7
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.4
executing==1.0.0
fasteners==0.18
fastjsonschema==2.16.1
ffmpeg==1.4
fonttools==4.37.1
frozendict==2.3.4
gitdb==4.0.9
GitPython==3.1.27
glfw==2.5.5
grapheme==0.6.0
greenlet==1.1.2
gym==0.25.2
gym-notices==0.0.8
hydra-core==1.2.0
idna==3.3
imageio==2.21.2
imageio-ffmpeg==0.4.7
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipdb==0.13.9
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.15.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupytext==1.14.1
kaleido==0.2.1
kiwisolver==1.4.4
labmaze==1.0.5
lazy-object-proxy==1.7.1
libtmux==0.11.0
lookatme==2.3.2
lookatme.contrib.image-ueberzug==1.1.0
lxml==4.9.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistune==2.0.4
mizani==0.8.1
moviepy==1.0.3
msgpack==1.0.3
mujoco==2.2.2
mujoco-py==2.1.2.14
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.6
notebook==6.4.12
numpy==1.23.2
omegaconf==2.2.3
opencv-python==4.6.0.66
packaging==21.3
palettable==3.3.0
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.1
plotly==5.10.0
plotnine==0.10.1
ply==3.11
pnglatex==1.1
proglog==0.1.10
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.31
protobuf==3.20.1
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pygame==2.1.2
Pygments==2.13.0
pylint==2.12.2
pynvim==0.4.3
PyOpenGL==3.1.6
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-xlib==0.31
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
requests==2.28.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
Send2Trash==1.8.0
sentry-sdk==1.9.8
setproctitle==1.3.2
shortuuid==1.0.9
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
stack-data==0.5.0
statsmodels==0.13.5
tenacity==8.0.1
termcolor==2.1.0
terminado==0.15.0
testpath==0.5.0
threadpoolctl==3.1.0
tifffile==2022.8.12
tinycss2==1.1.1
toml==0.10.2
torch==1.11.0
torchaudio==0.13.0
torchvision==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
typing_extensions==4.3.0
ueberzug==18.1.9
urllib3==1.26.12
urwid==2.1.2
urwid-ueberzogen==0.0.4
wandb==0.13.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.3
wrapt==1.13.3
zipp==3.8.1
